body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(65, 61, 61); /* Definindo a cor de fundo como preta */
    color: white; /* Definindo a cor do texto como branca */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

form {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.animated {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ... (seu código CSS existente) ... */

.image-gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image-gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 0 10px;
}
